body {
  background-color: #bebebe;
}
.cabecera{
  background-color: #404040;
}
#copy_letra {
  font-size: 13px;
  padding-top: 30px;
  text-align: end;
  color: #a0a0a0;
}
#caja_redes {
  padding-top: 8px;
}
#caja_redes a i{
    color: #a0a0a0;
}
#caja_redes a i:hover {
  color: #686868;
  font-size: 42px;
}
.icono {
  font-size: 40px;
  margin-right: 15px;
}
#botonera ul li a {
  background-color: #a0a0a0;
}
#botonera ul li a:hover {
  border: solid 1px #bebebe;
}
.about {
  padding-top: 10px;
}
/*  TEXTO     */
#pri_tex p {
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  line-height: 1.8;
}
#ul_tex p {
  font-size: 18px;
  text-align: justify;
  padding: 20px;
  line-height: 1.7;
}
.caja_p {
  background-color: #a0a0a0;
}

#circulo {
  width: 350px;
  height: 350px;
  border-radius: 175px;
}
#circulo img {
  box-sizing: border-box;
  width: 350px;
  border-radius: 175px;
}
.poderes {
  padding-bottom: 20px;
}
.languages {
  background-color: #a0a0a0;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 15px;
}
.img_container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.subtitulo {
  width: 100%;
}
.subtitulo h4 {
  text-align: center;
  
}
.poder {
  width: 100px;
  height: 100px;
  padding: 0;
  margin-top: 10px;
}
.poder img {
  width: 98px;
}

.fondo_blanco {
  background-color: white;
}
#saberes {
  display: flex;
  justify-content: space-around;
}
.experience {
  background-color: #404040;
}
.bolognino {
  padding-bottom: 15px;
  background-color: #404040;
}
.logo_bolo{
  height: 200px;
  background-color: white;
}
.texto_bolo p {
  font-size: 15px;
  text-align: justify;
  padding: 15px;
  line-height: 1.8;
}
.texto_bolo h4{
  margin-top: 15px;
  margin-left: 10px;
}
.texto_bolo h5{
  margin-top: 15px;
  margin-left: 10px;
}
.texto_bolo h6{
  margin-top: 15px;
  margin-left: 10px;
}
.img_cen{
  text-align: center;
}
.wd_sa {
  padding-bottom: 15px;
  background-color: #404040;
}
.logo_wd{
  height: 200px;
  background-color: white;
}
footer{
  background-color: #404040;
}
